<div class="container">

    <div class="row">
    	
        <!-- <div class="col-sm-12" ng-if="editEnabled"> -->
        <div class="col-sm-12">
        	<div class="col-sm-12">
        		<h1 class="row">{{ post.title }}</h1>
        		<div class="row" ta-bind ng-model="post.content"></div>
        	</div>
        </div>


        <div ng-hide="editEnabled">
    		<input ng-model="post.title" class="col-sm-12" required></input>
    		<hr>
    		<!-- ver detalles de esta directiva en https://github.com/fraywing/textAngular -->
    		<text-angular ng-model="post.content" class="col-sm-12"></text-angular>
        </div>

        <button type="submit" class="btn btn-primary" ng-click="savePost()">GUARDAR</button>

      <!--   <div class="row">
            <label for="editEnabled">VISTA PREVIA</label>
            <input type="checkbox" ng-model="editEnabled" ng-init="editEnabled = false" id="editEnabled"> 
        </div> -->
   	</div>
</div>